.login-form {
    border: solid 1px #CACACA;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 91%);
    color:#000000;
    margin:auto;
    margin-top: auto;
    width: 30vw;

    div {
        width: 100%;
        margin: 30px 0;
    }

    label {
        display: block;
    }

}


