.form-list{
    overflow: auto;
    max-height: 50vh;
}
.form-data{
    height: 20vh;
    margin: 20px;
    color: #000000;
}
table{
    max-height: 40vh;
}
.link{
    cursor: pointer;
    color: blue;
}