table,
th,
td {
    border: 1px solid #CACACA;
    width: calc(100% - 40px);
    border-collapse: collapse;
}

table {
    margin: 20px;
    background-color: #FFFFFF;
    color: #000000;

    tr {
        height: 30px;

        th {
            height: 25px;
            text-align: left;
            padding: 0px 10px;
            background-color: rgb(50, 77, 77);
            font-weight: 500;
            color: #FFFFFF;
            &:first-child{
                width: 10vw;
            }
            &:last-child{
                width: 12vw;
                @media screen and (min-width:640px){
                    width: 20vw;
                }
            }
        }

        td {
            padding: 0px 10px;

            &.actions {
                button {
                    margin: 0 5px;
                    height: 20px;
                    line-height: 20px;
                    padding: 0px 5px;
                    color: inherit;
                    background-color: #ffffff;
                    border: solid 1px black;
                    font-weight: 100;
                    font-style: italic;
                    &:hover{
                        background-color: orange;
                    }
                }
            }
        }
    }
}

.no-data{
    text-align: center;
    color:#000000;
}

.content {
    height: calc(100vh - 60px);
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;

    button {
        margin: 20px;
    }
}