.header {
    height: 35px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
}

.form-viewer {
    min-height: calc(100vh - 120px);
    margin: 5px 20px;
   // display: flex;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
}

.form-control {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    flex: 1 1 100%;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;

    label {
        margin-right: 10px;
    }
}