.form-viewer {
    margin: 5px 20px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
}

.form-control {
    flex: 1 1 100%;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;

    label {
        margin-right: 10px;
        &.required::after{
            content: "*";
            color: red;
        }
    }
}
