.form-field-type {

    margin: 10px;

    select,
    input,textarea {
        padding: 15px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        // width: 100%;
        outline: none;
    }
}

.d-flex {
    display: flex;
    align-items: center;
}

.field-info {
    color: blueviolet;
    font-style: italic;
    font-size: 12px;
}

.action-icons {
    justify-content: flex-end;

    img {
        margin: 0 5px;
    }
}