<div [ngSwitch]="field.type" class="form-field-type">
    <div *ngSwitchCase="'input'">
        <div class="d-flex">
            <label>{{field.label}} </label>
        </div>
        <input placeholder="{{ field.helpText }}"  [attr.maxlength]="field.validations.maxLength">

    </div>
    <div *ngSwitchCase="'select'">
        <label>{{field.label}}</label>
        <select>
            <option *ngFor="let option of field?.options.split(',')">{{option}}</option>
        </select>
    </div>
    <div *ngSwitchCase="'textarea'">
        <label>{{field.label}}</label>
        <textarea placeholder="{{ field.helpText }}"></textarea>
    </div>
    <div *ngSwitchCase="'radio'">
        <label for="html">HTML</label>
        <input type="radio" id="html" name="fav_language" value="HTML">
    </div>
    <div *ngSwitchCase="'checkbox'">
        <label>{{field.label}}</label>
        <div class="d-flex">
            <label *ngFor="let c of field.items">
                {{c.name}}<input type="checkbox" [checked]="c.value" /></label>
        </div>
    </div>
    <div class="d-flex action-icons">
        <div class="field-info">Required is {{field.validations.required}}</div>
        <div class="field-info" *ngIf="field.validations.maxLength">, MaxLength is
            {{field.validations.maxLength}}
        </div>
        <!-- <div class="field-info" *ngIf="field.validations.minLength">, MinLength is
            {{field.validations.minLength}}
        </div> -->
        <div>
            <img src='../../assets/icons/edit.svg' (click)="openCustomElement.emit(field.type)">
            <img src='../../assets/icons/delete.svg' (click)="removeElement.emit(field.type)">
        </div>

    </div>
</div>