<div class="header">
    <img class="back-icon" src="../../assets/icons/back.svg" (click)="back()">
    Form Builder - {{dynamicForm?.formName}}
</div>
<div class="form-viewer">
    <div class="form-controls" cdkDropList id="formBuilder" [cdkDropListData]="controls"
        [cdkDropListConnectedTo]="['dropZone']" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
        <div *ngFor="let field of controls" cdkDrag [cdkDragData]="field" class="draggable-field">
            {{field.label}}
        </div>
    </div>
    <div *ngIf="dynamicForm" class="drag-drop" cdkDropList id="dropZone" [cdkDropListData]="dynamicForm?.formControls"
        [cdkDropListConnectedTo]="['formBuilder']" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let field of dynamicForm?.formControls; let i=index;" class="dropped-item" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-form-field [field]="field" (openCustomElement)="openCustomElement(field,i)"
                (removeElement)="removeElement(field,i)"></app-form-field>
        </div>
    </div>
</div>
<div class="footer">
    <button class="outline" (click)="showPreview=true">Preview</button>
    <button class="outline" (click)="reset()">Clear</button>
    <button (click)="saveForm()">Save</button>
</div>

<app-modal *ngIf="showCustomElement" [title]="'Customize Form Element'">
    <div class="custom-element">
        <ng-container *ngIf="customElement.name!='button'">
            <div> <label>Label Text</label>
                <input [(ngModel)]="customElement.label">
            </div>
            <div> <label>Placeholder</label>
                <input [(ngModel)]="customElement.helpText">
            </div>
            <div class="validations"> <label>Required</label>
                <input id="isRequired" type="checkbox" value='true' [(ngModel)]="customElement.validations.required" />
            </div>
        </ng-container>
        <ng-container *ngIf="customElement.name=='input'">
            <div class="validations">
                <label>Min-Length</label>
                <input type="number" min="0" [(ngModel)]="customElement.validations.minLength">
            </div>
            <div class="validations">
                <label>Max-Length</label>
                <input type="number" min="0" [(ngModel)]="customElement.validations.maxLength">
            </div>
        </ng-container>
        <ng-container *ngIf="customElement.name=='select'">
            <div class="validations">
                <label>Options</label>
                <textarea placeholder="Enter comma separated values" [(ngModel)]="customElement.options"></textarea>
            </div>
        </ng-container>
        <ng-container *ngIf="customElement.name=='button'">
            <div> <label>Button Label</label>
                <input [(ngModel)]="customElement.label">
            </div>
        </ng-container>
    </div>
    <ng-container footer>
        <button (click)="updateElement()">Update</button>
        <button class="cancel outline" (click)="showCustomElement = false">Cancel</button>
    </ng-container>
</app-modal>

<app-modal *ngIf="showPreview" [title]="'Preview Form'">
    <app-preview-form [form]="dynamicForm"></app-preview-form>
    <ng-container footer>
        <button class="cancel outline" (click)="showPreview = false">Cancel</button>
    </ng-container>
</app-modal>